@keyframes mountain-image-dwindle {
  from {
    max-height: 80vh;
    transform: rotate(0deg);
  } to {
      max-height: 0;
      transform: rotate(359deg);
  }
}

.mountain-walk-background {
  width: 100%;
  z-index: 1;
}

.mountain-walk-image {
  position: absolute;
  filter: sepia(1);
  max-height: 16vh;
  z-index: 2;
}

.mountain-walk-up-and-down-image {
  max-height: 50vh;
}

#mountain-container {
  position: absolute;
  left: -1vw;
  top: -1vh;
  width: 102vw;
  height: 102vh;
}

.bw-ray {
  position: absolute;
  height: 1px;
  transform-origin: left;
  z-index: 0;
}

.bw-midday-ray {
  background-color: black;
}

.bw-sunrise-ray, .bw-sunset-ray {
  background-color: white;
}

.bw-sunset-ray {
  transform-origin: right;
  right: 0;
  bottom: 0;
}

.bw-sunrise-ray {
  transform-origin: left;
  left: 0;
  bottom: 0;
}

.bw-midday-ray {
  transform-origin: left;
  left: 0;
  top: 0;
}

.bw-thick-ray {
  width: 50vw;
  height: 2px;
}
.bw-mid-ray {
  width: 87.5vw;
}

.bw-normal-ray {
  width: 75vw;
}

.bw-long-ray {
  width: 150vw;
  height: 2px;
  background-color: gainsboro;
}
.mountain-text-paragraph {
  position: absolute;
  width: 40%;
  padding: 5vw;
  /* border-radius: 50%; */
  font-family: 'Montserrat';
  font-size: 3.3vmin;
  line-height: 4.6vmin;
  left: 0;
  height: 100%;
}
#mountain-text-image {
  position: absolute;
  height: 90vh;
  bottom: 0;
  right: 0;
}

.mountain-image-dwindle {
  animation-name: mountain-image-dwindle;
  animation-timing-function: linear;
  animation-duration: 2000ms;
  animation-fill-mode: both;
}

#mountain-text-random {
  position: absolute;
  font-size: 5vmin;
}

#mountain-up {
  position: relative;
  width: 100%;
  height: 50%;
}

mountain-up-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#mountain-down {
  position: relative;
  width: 100%;
  height: 50%;
}

#mountain-down-image {
  position: absolute;
  right: 0;
  width: 40vw;
  height: 100%;
  object-fit: cover;
}

#mountain-down .mountain-text-paragraph {
  position: absolute;
  width: 50%;
  padding: 5vw;
  font-size: 3vmin;
  line-height: 4.5vmin;
  left: 0;
  height: 100%;
}

#mountain-down #mountain-text-random {
  font-size: 3vmin;
  max-width: 40vw;
}

.mountain-walk-background {
  position: absolute;
  bottom: -1vh;
  width: 102vw;
  height: 102vh;
  object-fit: cover;
}

@media (orientation: portrait) {
  .mountain-text-paragraph {
    width: 100%;
    height: 30%;
    padding: 5vh;
    }
  
  #mountain-text-image {
    height: auto;
    width: 100vw;
  }
}