html {
  user-select: none;
  overflow: hidden;
  background-color: white;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

body {
  display: none;
}

#background {
  position: absolute;
  top: -1vh;
  left: -1vw;
  height: 102vh;
  width: 102vw;
  z-index: -3;
}

.image-button {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.close-button-image {
  height: 100%;
}

.close-button {
  position: absolute;
  top: 1%;
  right: 1.5%;
  filter: grayscale(100%);
  z-index: 1;
  height: 5vh;
}
.close-button:hover {
  cursor: pointer;
  filter: none;
}

#sound-control {
  position: absolute;
  left: 4.125vh;
  top: 2.25vh;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 4vw;
  font-size: 4vmin;
  height: auto;
  z-index: 1000;
}

#under-construction {
    font-family:'Rock Salt';
    color: rgb(211, 50, 66);
}